
<main class="py-md-3 px-md-2 sw-content" role="main">
    <section class="content container-fluid">
        <div class="row sortable ui-sortable">
            <div class="col-sm-3 ui-sortable-handle">
                <div class="card draggable1">
                    <div class="card-body">
                        <h4 class="card-title">CMS</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <NavLink href="/portal/cms" class="btn btn-primary">
                            <span class='glyphicon glyphicon-education'></span> CMS Dashboard
                        </NavLink>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ui-sortable-handle">
                <div class="card draggable1">
                    <div class="card-body">
                        <h4 class="card-title">Draggable 2</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ui-sortable-handle">
                <div class="card draggable1">
                    <div class="card-body">
                        <h4 class="card-title">Draggable 3</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ui-sortable-handle">
                <div class="card draggable1">
                    <div class="card-body">
                        <h4 class="card-title">Draggable 4</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>