@page "/Portal/"


    <!-- Page Content Holder -->
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">
            <PortalNavMenu />
            <Dashboard />
        </div>
    </div>