@page "/Portal"


<div class="row sortable ui-sortable">
    <div class="col-sm-4 ui-sortable-handle">
        <div class="card draggable1">
            <div class="card-body">
                <h4 class="card-title">CMS</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <NavLink href="/portal/cms" class="btn btn-primary">
                    <span class='glyphicon glyphicon-education'></span> CMS Dashboard
                </NavLink>
            </div>
        </div>
    </div>
    <div class="col-sm-4 ui-sortable-handle">
        <div class="card draggable1">
            <div class="card-body">
                <h4 class="card-title">eCommerce</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                <NavLink href="/portal/ecom" class="btn btn-primary">
                    <span class='glyphicon glyphicon-education'></span> eCom Dashboard
                </NavLink>
            </div>
        </div>
    </div>
    <div class="col-sm-4 ui-sortable-handle">
        <div class="card draggable1">
            <div class="card-body">
                <h4 class="card-title">Forum</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                <NavLink href="/portal/forum" class="btn btn-primary">
                    <span class='glyphicon glyphicon-education'></span> Forum Dashboard
                </NavLink>
            </div>
        </div>
    </div>
</div>