<div class='main-nav'>
    <div class='navbar'>
        <ul class='nav navbar-nav'>
            <li>
                <NavLink href="/" Match=NavLinkMatch.All>
                    <span class='glyphicon glyphicon-home'></span> Home
                </NavLink>
            </li>
            <li>
                <NavLink href="/counter">
                    <span class='glyphicon glyphicon-education'></span> Counter
                </NavLink>
            </li>
            <li>
                <NavLink href="/fetchdata">
                    <span class='glyphicon glyphicon-th-list'></span> Fetch data
                </NavLink>
            </li>
            <li>
                <NavLink href="/portal">
                    <span class='glyphicon glyphicon-th-list'></span> Portal
                </NavLink>
            </li>
        </ul>
    </div>
</div>
