@inherits BlazorLayoutComponent

<PortalHeader />

<!-- Page Content Holder -->
<div class="container-fluid wrapper">
    <div class="row flex-xl-nowrap">
        <main class="py-md-3 px-md-2 sw-content container-fluid" role="main">
            <section class="content container-fluid">
                @Body
            </section>
        </main>
    </div>
</div>
