<!-- Page Header -->
<header class="navbar navbar-expand flex-column flex-md-row sw-navbar">


    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Swastika I/O">
        <img src="/css/portal/img/swastika-io-logo-blue.png" alt="Swastika I/O" width="35px">
    </a>

    <button type="button" id="sidebarCollapse" class="btn btn-link">
        <span class="oi oi-menu"></span>
    </button>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav sw-navbar-nav flex-row">
            <li class="nav-item">
                <NavLink href="/portal" class="nav-link">
                    Portal
                </NavLink>
            </li>
        </ul>

    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

        <li class="nav-item dropdown mr-2">
            <a class="nav-link p-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="mi mi-World"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sw-versions">
                <a class="dropdown-item " href="/en-us/portal/pages/index">
                    <span class="flag-icon flag-icon-us"></span> United States
                </a>
                <a class="dropdown-item active" href="/vi-vn/portal/pages/index">
                    <span class="flag-icon flag-icon-vn"></span> Vietnam
                </a>
            </div>
        </li>
        <li class="nav-item mr-2">
            <form method="post" id="logoutForm" class="" action="/vi-vn/portal/auth/logout">
                <a class="nav-link p-2 text-danger" href="#" onclick="document.getElementById('logoutForm').submit();" rel="noopener" aria-label="Logout">
                    <i class="mi mi-PowerButton"></i>
                </a>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8JgCP08jDylEv4V4EJipHCMHVgUaCvYKCrBxxcCnjZW0wpVDjvKRNg7LzJww96LDU9vq2Wh9jTQEeoFjJKdQnFy9UqkpiztdD-Zzp0jMBahWGK8iNKfVGeco2z0JfVUU-V4ExrWDIP176BL6N_M9VjPHW85htSTXZHf1ALF4MAjjmyPRKWUhqOCcBaGqX75Hjg" />
            </form>
        </li>
    </ul>
    <a href="/vi-vn/portal/profile" title="smilefounder">
        <img alt="Gravatar image" class="rounded-circle sw-avatar" src="https://secure.gravatar.com/avatar/20065fdeab13b9024f476aa2ead7ceeb?s=36&amp;d=identicon&amp;r=pg" />
    </a>

</header>
