@page "/portal/forum"


    <!-- Page Content Holder -->
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">
            <PortalNavMenu />

            <main class="py-md-3 px-md-2 sw-content" role="main">
                <section class="content container-fluid">
                    <ForumDashboard />
                </section>
            </main>
        </div>
    </div>